<ion-header>
  <ion-toolbar>
    <ion-title>parcial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button routerLink="/home">
    volver
  </ion-button><br>

  <ion-button color="success" (click)="fununo()">
    1
  </ion-button>
  <ion-button color="success" (click)="fundos()">
    2
  </ion-button>
  <ion-button color="success" (click)="funtres()">
    3
  </ion-button>
  <ion-button color="success" (click)="funmas()">
    +
  </ion-button><br>

  <ion-button color="success" (click)="funcuatro()">
    4
  </ion-button>
  <ion-button color="success" (click)="funcinco()">
    5
  </ion-button>
  <ion-button color="success" (click)="funseis()">
    6
  </ion-button>
  <ion-button color="success" (click)="funmenos()">
    -
  </ion-button><br>

  <ion-button color="success" (click)="funsiete()">
    7
  </ion-button>
  <ion-button color="success" (click)="funocho()">
    8
  </ion-button>
  <ion-button color="success" (click)="funnueve()">
    9
  </ion-button>
  <ion-button color="success" (click)="funpor()">
    *
  </ion-button><br>

  <ion-button color="success" (click)="fundividir()">
    /
  </ion-button>
  <ion-button color="success" (click)="funcero()">
    0
  </ion-button>
  <ion-button color="success" (click)="funcalcular()">
    =          
  </ion-button>
  

</ion-content>
